<h1>Title</h1>


<h2>Here are the most common phrases that you may want to know</h2>

<ul>
    {{#each phrases}}

    <li>
        {{this.name}} {{this.code}}  {{this.english}} {{this.translated}}

    </li>
    {{/each}}
</ul>